<section *ngIf="produtos">
    <div>
        <div style="background-image: url(../../../../../assets/images/banners/Template.jpg); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover">
            <div style="text-align: center;">
                <img src="../../../../../assets/images/banners/nerdstore.png"/>
            </div>
        </div>
        <div class="container" style="padding-top: 20px">
            <div class="row">                
                <div class="col-md-3" *ngFor="let prod of produtos">
                    <div class="card card-product-grid" (click)="detalhe(prod.id)">
                        <a class="img-wrap">
                            <img src="{{ imagem }}{{ prod.imagem }}" alt="prod.nome">
                        </a>
                        <figcaption class="info-wrap">
                            <a class="title">
                                <b>{{prod.nome}}</b>
                            </a>

                            <small class="card-text">
                                Apenas {{prod.quantidadeEstoque}} em estoque!<br/><br/>
                                {{prod.descricao}}
                            </small>
                        </figcaption>
                        <div class="card-footer price mt-1">
                            <h3>{{prod.valor | currencyBrazil}}</h3>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>